.Chat {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 2rem;
  height: 2rem;
  top: 1.65rem;
  left: 1rem;
  background-color: #ebfffd80;
  border-radius: 1rem;
}

.navigator img {
  width: 2rem;
  margin-right: 0.2rem;
}

.messageBox {
  width: 20rem;
  background-color: #272727;
  margin: 1rem 0;
  border: 0.1rem solid #4b4b4b;
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
}

.messageDetail {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.5rem;
}

.userName {
  color: #bef9b9;
}

.time {
  color: #91aa8f;
  font-size: 0.8rem;
  padding: 0.1rem 0
}