.Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.split {
    width: 16rem;
    height: 1px;
    background-color: #e3fae1;
    margin: 0 0 2rem;
}

input {
    text-align: center;
    background-color: #cdebca;
    color: #021e00;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0.2rem solid #096b00;
    margin: 1rem 0;
    outline-style: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.ButtonGroup {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3eb333;
    color: #d9ffd6;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0.2rem solid #096b00;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition-property: background-color;
    transition-duration: 0.1s;
}

button:active {
    background-color: #218818;
}